/*Цвет основного текста 757575*/
/*Вторичный цвет текста 212121*/
/* белый цвет FFFFFF*/
/* черный цвет 000000*/
/* accent 2196F3*/
/*вторичный цвет фона 2F303A*/
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --light-color: #ffffff;
  --dark-color: #000000;
  --team-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --button-background-color: #f5f4fa;
  --hero-background-color: #2f303a;
}

body {
  color: var(--main-text-color);
  background-color: var(--light-color);
  font-family: Roboto, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/*logo*/

.logo,
.logo-dark,
.logo-white {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo {
  color: var(--accent-color);
}

.logo-dark {
  color: var(--dark-color);
}

/*site-nav*/

.site-nav a,
.site-nav a:hover,
.site-nav a:focus,
.site-nav a.current {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav a {
  color: var(--title-text-color);
}

.site-nav a:hover,
.site-nav a:focus,
.site-nav a.current {
  color: var(--accent-color);
}

.header-contacts a,
.header-contacts a:hover,
.contacts a:focus {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-contacts a {
  color: var(--main-text-color);
}

.header-contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}

/* hero*/

.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  background-color: #2f303a;
  color: var(--light-color);
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/*section*/

.section-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*Features*/
.feature-list .title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.team {
  background-color: var(--team-background-color);
}
/*button*/
.button {
  color: var(--light-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

/*our team*/

section .team-member {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.profession-title {
  color: var(--main-text-color);
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
}

/*footer*/
.footer {
  background-color: var(--footer-background-color);
}

.logo-white {
  color: var(--light-color);
}

.footer-address {
  color: var(--light-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts a,
.footer-contacts a:hover,
.footer-contacts:focus {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-contacts a {
  color: var(--main-text-color);
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  color: var(--accent-color);
}

/*portfolio*/

.button-passive,
.button-passive:hover,
.button-passive:focus {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button-passive {
  color: var(--title-text-color);
  background: var(--button-background-color);
}

.button-passive:hover,
.button-passive:focus {
  color: var(--light-color);
  background-color: var(--accent-color);
}

/*projects*/

.project-title {
  color: var(--title-text-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-text {
  color: var(--main-text-color);
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
